@(message: String)

@main("Emirates Simplified") {
 	
        
        <div class="collapse navbar-collapse" id="navbar-collapse1" style="margin-top:230px">
          <form class="navbar-form pull-left" action="@routes.Application.searchResults()" method="post">
              <div class="input-group" style="max-width:270px;">
                <input type="text" class="form-control" placeholder="Looking for ..." name="searchQuery" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"></button>
                </div>
              </div>
          </form>
         
        </div>	
    	


}
